<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <link rel='stylesheet' href='{{ url_for('static', filename='/css/style.css') }}'>
    <title>Dinosaur and Prehistoric Discoveries</title>
</head>

<body data-bs-theme="dark">
    <!-- Header -->
    <nav class="navbar navbar-expand-lg bg-body-tertiary border border-secondary border-2 opacity-100 mb-4 p-3">
        <div class="container-fluid">
            <div class="">
                <h3 class="">Hi, {{user.first_name}}</h3>
                <!-- dark mode/light mode toggle -->
                <div class="form-check form-switch">
                    <input
                    class="form-check-input"
                    type="checkbox"
                    role="switch"
                    unchecked
                    onclick="toggleDarkMode()"
                    />
                    <p>Toggle Dark/Light Mode</p>
                </div>
                <!-- dark mode/lightmode toggle end -->
                <!-- dropdown nav -->
                <div class="">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item dropdown dropdown-center">
                            <a class="btn btn-small dropdown-toggle" data-bs-toggle="dropdown">Navigation</a>
                            <ul class="dropdown-menu">
                                <li><h6 class="dropdown-header">Actions</h6></li>
                                <li><a class="dropdown-item" href="/dashboard">Back to Dashboard</a></li>
                                <li><a class="dropdown-item" href="/discovery/new">Add Discovery</a></li>
                                <li><hr class="dropdown-divider"></li>
                                <li><a class="dropdown-item" href="/logout">Logout</a></li>
                            </ul>
                        </li>        
                    </ul>
                </div>
                <!-- dropdown nav end -->
            </div> 
            <h2 class="align-items-end">Dinosaur and Prehistoric Discoveries</h2> 
        </div>
    </nav>

    <!-- Header
    <div class="container-fluid d-flex justify-content-between p-3">
        <h1 class="d-flex">Dinosaur and Prehistoric Discoveries</h1>
        <div class="d-flex flex-column align-items-end">
            <h2 class="px-2">Hi, {{user.first_name}}</h2>
            <a href="/dashboard" class="btn border border-dark">Dashboard</a>
            <a href="/logout" class="btn border border-dark">Logout</a>
        </div>
    </div>  
    <hr class="border border-secondary border-2 opacity-75 mb-5"> -->

    <!-- Body -->   
    <div class="container-fluid d-flex justify-content-between">
        <!-- table of discoveries -->
        <div class="container">
            <h3 class="">{{ user.first_name }} {{user.last_name }}</h3>
            <ul class="list-unstyled">
                <li><strong>Hometown:</strong> {{ user.hometown }}</li>
                <li><strong>Profession:</strong> {{ user.profession }}</li>          
                <li><strong>Education:</strong> {{ user.education }}</li> 
                <li><strong>Favorite Dinosaur:</strong> {{ user.favorite_dino }}</li> 
                <li><strong>About Me:</strong> {{ user.about_user }}</li>
            </ul>


        
        </div>
        <!-- static content / images -->
        <div class="container">
            <div class="m-2">
            </div>
        </div>
    </div>

    <script>
        function toggleDarkMode() {
            var element = document.body;
            element.dataset.bsTheme = element.dataset.bsTheme == "light" ? "dark" : "light";
        }

    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
</body>
</html>